spring:
  profiles:
    active: test
---

spring:
  profiles: development
  application:
    name: bittrex-client
server:
  port: 7575
  contextPath: /uaa
  
logging.level.org.springframework.web: DEBUG
  
---

spring:
  profiles: test
  datasource:
      url: jdbc:mysql://localhost:3306/db_bittrex?useSSL=false&requireSSL=false
      username: root
      password: 242242
      initialize: true
  jpa:
    hibernate:
      ddl-auto: create-drop
  application:
    name: bittrex-client
server:
  port: 7575
